.lm-dns-container {
  width: 800px;
  padding: 0 auto;
  margin: 0 auto;
}
.lm-dns-table {
  text-align: center;
  margin: 20px 0 20px;
  border: 1px solid rgba(80, 80, 80, 0.1);
}
.lm-dns-table a {
  margin-right: 15px;
  margin-left: 15px;
}
th {
  text-align: center !important;
}
.lm-tr td,
.lm-edit-tr td {
  padding: 0 15px 0 ;
}
.lm-tr td:last-child,
.lm-edit-tr td:last-child {
  border-right: 1px solid rgba(80, 80, 80, 0.1);
}
.lm-tr td:nth-child(2),
.lm-edit-tr td:nth-child(2),
.lm-tr td:nth-child(3),
.lm-edit-tr td:nth-child(3) {
  width: 115px;
}
.lm-tr td:nth-child(4),
.lm-edit-tr td:nth-child(4) {
  width: 215px;
}
.lm-tr td:nth-child(5),
.lm-edit-tr td:nth-child(5) {
  display: none !important;
}
.lm-tr p,
.lm-edit-tr p,
.lm-tr select,
.lm-edit-tr select,
.lm-tr input,
.lm-edit-tr input {
  margin: 15px 0 15px ! important;
  padding: 0 15px 0 ;
  height: 30px;
  line-height: 30px;
}
.lm-edit-tr input[type=text] {
  width: 115px;
}
.lm-edit-tr input[type=text]:last-child {
  width: 215px;
}
.lm-title-tr {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #006687;
  color: white;
}
.lm-title-tr th:nth-child(5) {
  display: none !important;
}
.lm-tr:nth-child(even),
.lm-edit-tr:nth-child(even) {
  background: rgba(80, 80, 80, 0.1);
}
.lm-edit-btn {
  color: #f0ad4e;
}
.lm-delete-btn {
  color: #c9302c;
}
.lm-update-btn {
  color: #449d44;
}
.lm-back-btn {
  color: #ec971f;
}
.lm-edit-base-btn {
  color: #f0ad4e;
}
.lm-save-base-btn {
  color: #449d44;
}
.lm-help-msg p {
  text-align: left !important;
  line-height: 20px;
  height: 20px !important;
  font-size: 0.8em;
  display: inline-block;
  width: 100%;
}
